<main>
    <script src="/js/reviewrecipe.js"></script>

    <div class="container" id="container">
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
        <h1 id='header'>
            <%=data.nome%>
        </h1>
        <img src="<%=data.imagem%>" alt='Ilustração vetorial de um brigadeiro' style="width:500px;height:500px;">
        <h3 class="subtitle">
            <%=data.subtitulo%>
        </h3>
        <p class="description">
            <%= data.descricao%>
        </p>
        <p></p>
        <div>
            <h4 class="ingredients">Ingredientes</h4>
            <ul>
                <% for(var i=0; i< data.ingredientes.length; i++) {%>
                    <li>
                        <%=data.ingredientes[i]%>
                    </li>
                    <% } %>
            </ul>
        </div>
        <div id='recipe'>
            <h4 class="recipe">Modo de preparo</h4>
            <h5 class="time">Tempo: <%=data.tempo_de_preparo[i]%>
            </h5>
            <ol>
                <% for(var i=0; i< data.modo_de_preparo.length; i++) {%>
                    <li>
                        <%=data.modo_de_preparo[i]%>
                    </li>
                    <% } %>
            </ol>
        </div>

        <h1>Dê uma nota para esta delícia!</h1>
        <div class="rating" id="starRating">
            <span onclick="rate(1)">&#9734;</span>
            <span onclick="rate(2)">&#9734;</span>
            <span onclick="rate(3)">&#9734;</span>
            <span onclick="rate(4)">&#9734;</span>
            <span onclick="rate(5)">&#9734;</span>
        </div>

        <a href="#header">Retornar ao topo</a>
        <p></p>
        <a href="../">Retornar à página principal</a>
    </div>
</main>